.card {
	display: flex;
	background-color: rgb(62, 66, 70);
	box-shadow: rgb(0 0 0 / 13%) 0px 0px 10px;
	padding: 20px;
	min-height: 80px;
	min-width: 320px;
	flex: 1;
	cursor: pointer;
	margin: 10px;
}

.card:hover {
	opacity: 0.75;
}

.thumbnail > img {
	width: 60px;
	margin-right: 10px;
}

.information {
	display: flex;
	flex-direction: column;
}

.name {
	font-size: 20px;
	font-weight: 600;
}

.description {
	color: rgba(255, 255, 255, 0.62);
	font-size: 14px;
}
